@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "base/variables";
@import "./styleComponents/buttons";
@import "./styleComponents/containers";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//GLOBAL STYLES
body {
  background-color: $light-grayish__first;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}
label {
  color: $dark-grayish__first;
  margin-bottom: 0.5rem;
}
h4 {
  color: $white;
}
input {
  border: none;
  background-color: $light-grayish__second;
  outline: none;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  text-align: right;
  font-size: $font-lg;
  font-family: inherit;
  font-weight: 700;
  color: $very-dark;
  padding-right: 1.6rem;
}
span {
  position: absolute;
}
.logo {
  top: 45px;
  left: 22px;
}
.percent {
  right: 10px;
  top: 140px;
  font-size: $font-lg;
  color: $dark-grayish__first;
}
button {
  height: 50px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  color: $white;
  background-color: $very-dark;
  cursor: pointer;
}
p {
  color: $dark-grayish__second;
}

.numbers {
  font-size: $font-lg;
}
.result {
  color: $primary;
  font-size: $font-lg + 6;
}

.app-header {
  padding: 2.5rem;
}
.app-content {
  width: 100%;
  height: 100%;
  border: 1px solid $light-grayish__second;
  background-color: $white;
  border-radius: 20px;
  padding: 3rem 2rem;
}
.input-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  position: relative;
}

.tip-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0;
}
