@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "base/variables";
@import "./styleComponents/buttons";
@import "./styleComponents/containers";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//GLOBAL STYLES
body {
  background-color: $light-grayish__first;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}
label {
  color: $dark-grayish__first;
  margin-bottom: 0.5rem;
}
h4 {
  color: $white;
}
input {
  border: none;
  background-color: $light-grayish__second;
  outline: none;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  text-align: right;
  font-size: $font-lg;
  font-family: inherit;
  font-weight: 700;
  color: $very-dark;
  padding-right: 1.6rem;
}
span {
  position: absolute;
}
.logo {
  top: 45px;
  left: 22px;
}
.percent {
  right: 10px;
  top: 140px;
  font-size: $font-lg;
  color: $dark-grayish__first;
}
button {
  height: 50px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  color: $white;
  background-color: $very-dark;
  cursor: pointer;
}
p {
  color: $dark-grayish__second;
}

a {
  color: $very-dark;
  text-decoration: none;
}

.numbers {
  font-size: $font-lg;
}
.result {
  color: $primary;
  font-size: $font-lg + 6;
}

.app-header {
  padding: 2.5rem;
}
.app-content {
  width: 100%;
  height: 100%;
  border: 1px solid $light-grayish__second;
  background-color: $white;
  border-radius: 20px;
  padding: 3rem 2rem;
}
.input-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  position: relative;
}

.tip-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.contributor {
  padding: 1rem 5rem;
}

@media screen and (min-width: 950px) {
  .app-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 2.5rem 2rem 2rem 2rem;
    max-width: 900px;
  }
  .buttons-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .input-container {
    max-height: 390px;
  }
  .percent {
    top: 73px;
  }
  .btn-reset {
    margin-top: 150px;
  }
  .result {
    font-size: $font-lg + 12;
  }
  .contributor {
    position: fixed;
    bottom: 2rem;
  }
}
