//COLOR PALETTE
$primary: hsl(172, 67%, 45%);
$very-dark: hsl(183, 100%, 15%);
$dark-grayish__first: hsl(186, 14%, 43%);
$dark-grayish__second: hsl(184, 14%, 56%);
$light-grayish__first: hsl(185, 41%, 84%);
$light-grayish__second: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

//FONTS
$font-lg: 24px;
$font-md: 18px;
$font-s: 14px;
$font-xs: 12px;
